/* div {
  background-color: white;
} */

/* .center {
  text-align: center;
}

.center-cell {
  text-align: center;
  vertical-align: middle;
  height: 100%;
} */

table {
  position: relative;
  left: 10px;
  margin-top: 1%;
}

label {
  color: cyan;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  width: fit-content;
}

.form button {
  width: fit-content;
  background-color: #007bff;
}

.form button:active {
  background-color: #0056b3; /* Culorile pot varia */
}

.form button:focus {
  outline: none; /* Elimină conturul implicit al butonului */
  box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.5); /* Adaugă o umbra pentru a indica focusul */
}

.container {
  width: 100%;
  margin: 10px auto 100px auto;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table {
  width: 20%;
}

.table th:not(.button) {
  width: 10%;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ddd;
  color: rgb(79, 190, 79);
  background-color: gray;
  margin: auto;
}

.table th .button {
  background-color: red;
}

.button {
  width: 10%;
}

.table td:not(.buttonRemove) {
  max-width: 140px;
  width: 10%;
  padding: 8px;
  text-align: center;
}

.table input {
  /* border: none; */
  max-width: 100px;
  width: fit-content;
  padding: 4px;
  font-size: 14px;
  background-color: transparent;
  text-align: center;
  color: white;
  margin: auto;
  justify-content: center;
}

.buttonRemove {
  max-width: 100px;
  padding: 8px;
  border: none;
}

.customRemove {
  max-width: 80px;
  width: fit-content;
  padding: 8px;
  border: none;
  white-space: nowrap;
}

.remove {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
}

.remove:hover {
  background-color: #f54848;
}

.create {
  background-color: #66bb6a;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
}

.create:hover {
  background-color: #4caf50;
}

.save {
  position: relative;
  border-radius: 10px;
  display: flex;
  width: 100px;
  height: 30px;
  padding: 6px;
  border: none;
  background: linear-gradient(151deg, red 0%, orange 50%, yellow 100%);
  align-items: center;
  justify-content: center;
  margin: 5px auto 0 auto;
}
