:root {
  --border-size: 0.5rem;
  --angle: 0deg;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@keyframes shadowRotate {
  0% {
    box-shadow: 0 0 1px 1px white;
  }
  50% {
    box-shadow: 0 0 50px 5px white;
  }
  100% {
    box-shadow: 0 0 1px 1px white;
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.container h1 {
  display: flex;
  top: 20px;
  position: absolute;
  justify-content: center;
  z-index: 100;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  border: 0.3rem dotted transparent;
  border-radius: 24px;
  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 0.5),
      rgb(255 255 255 / 0.5)
    ),
    conic-gradient(
      from var(--angle),
      #4b4a4b 0deg 90deg,
      #707070 90deg 180deg,
      #4b4a4b 180deg 270deg,
      #707070 270deg 360deg
    );
  background-position: calc(var(--border-size) * -1)
    calc(var(--border-size) * -1);
  background-size: calc(var(--border-size) * 2 + 100%)
    calc(var(--border-size) * 2 + 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  animation: rotate 10s linear infinite, shadowRotate 10s linear infinite;
}

.container fieldset {
  margin: 40px auto;
  background-color: rgb(51, 49, 49);
  font-size: 24px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  color: lime;
  top: 150px;
}

.container input {
  background-color: transparent;
  color: white;
}

.container input:focus {
  outline-width: 0;
}

.container form {
  position: relative;
  padding: 50px;
  z-index: 10;
}

.container .form1 {
  width: 352px;
  height: 600px;
  background-color: rgb(10, 61, 10);
  border-radius: 18px;
  z-index: 1;
}

.container .form2 {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 440px;
  background-color: rgb(30, 88, 30);
  z-index: 0;
  margin: auto;
  top: 100px;
  border-radius: 600px / 200px;
}

.login {
  display: flex;
  background-color: transparent;
  border: none;
  margin: auto;
  color: white;
  background-color: #4b4a4b;
  border-radius: 10px;
  padding: 10px;
}

.login_title {
  color: rgb(255, 255, 255);
  background-color: rgb(189, 124, 4);
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
  max-width: 300px;
  width: auto;
}
