nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
  margin: 3% 5%;
  border-radius: 10px;
}

.nav {
  list-style: none;
}

.nav button {
  color: red;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.nav button:hover {
  color: black;
  cursor: pointer;
}

h1 {
  color: rgb(255, 255, 255);
  background-color: rgb(189, 124, 4);
  justify-content: center;
  margin: auto;
  width: fit-content;
  padding: 0 10px;
  border-radius: 10px;
}
