.background {
  background-size: contain;
}

.table_Notes {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.table_Notes th {
  background-color: rgb(83, 83, 83);
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 25%;
}

.table_Notes td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table_Title {
  color: green;
  font-weight: bold;
}

.table_Data {
  font-weight: normal;
}
